<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing and Collection System</title>   
    <link href="~/Content/themes/theme.css" rel="stylesheet" />
    @*<link href="~/Content/jquery.multiselect.css" rel="stylesheet" type="text/css">*@

    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script> var jq111 = jQuery.noConflict(true);</script>


    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body class="pad0 mar0">
    @Html.Partial("_MenuPartialNew")
    <div class="body-content ovrFlw-YAuto h490px">
        @RenderBody()
    </div>


    <footer class="br1-top pad5">
        <p><b>Billing and Collection System</b> &copy;@DateTime.Now.Year - Philippine Economic Zone Authority</p>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required: false)   
    
</body>
</html>
